@import "tailwindcss";
@import "tw-animate-css";


/* Base Styles */

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);


    /* TipTap */

    --tiptap-white: #fff;
    --tiptap-black: #2e2b29;
    --tiptap-black-contrast: #110f0e;
    --tiptap-gray-1: rgba(61, 37, 20, .05);
    --tiptap-gray-2: rgba(61, 37, 20, .08);
    --tiptap-gray-3: rgba(61, 37, 20, .12);
    --tiptap-gray-4: rgba(53, 38, 28, .3);
    --tiptap-gray-5: rgba(28, 25, 23, .6);
    --tiptap-green: #22c55e;
    --tiptap-purple: #6a00f5;
    --tiptap-purple-contrast: #5800cc;
    --tiptap-purple-light: rgba(88, 5, 255, .05);
    --tiptap-yellow-contrast: #facc15;
    --tiptap-yellow: rgba(250, 204, 21, .4);
    --tiptap-yellow-light: #fffae5;
    --tiptap-red: #ff5c33;
    --tiptap-red-light: #ffebe5;
    --tiptap-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04)
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--reka-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}


/* Editor Styles */

.vue_edit {
    .vue_edit_inner {
        height: 100%;
        font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
        line-height: 1.5;
        caret-color: var(--tiptap-black);
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;


        /* Text Styles */

        :first-child {
            margin-top: 0;
        }

        ul, ol {
            padding: 0 1rem;
            margin: 1.25rem 1rem 1.25rem 0.4rem;
            list-style-type: disc;
            list-style-position: outside;

            li p {
                margin-top: 0.25em;
                margin-bottom: 0.25em;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
            margin-top: 2.5rem;
            text-wrap: pretty;
        }

        h1, h2 {
            margin-top: 3.5rem;
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 1.4rem;
        }

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        h4, h5, h6 {
            font-size: 1rem;
        }

        code {
            background-color: var(--tiptap-purple-light);
            border-radius: 0.4rem;
            color: var(--tiptap-black);
            font-size: 0.85rem;
            padding: 0.25em 0.3em;
        }

        pre {
            background: var(--tiptap-black);
            border-radius: 0.5rem;
            color: var(--tiptap-white);
            font-family: 'JetBrainsMono', monospace;
            margin: 1.5rem 0;
            padding: 0.75rem 1rem;

            code {
                background: none;
                color: inherit;
                font-size: 0.8rem;
                padding: 0;
            }
        }

        blockquote {
            border-left: 3px solid var(--tiptap-gray-3);
            margin: 1.5rem 0;
            padding-left: 1rem;
        }

        hr {
            border: none;
            border-top: 1px solid var(--tiptap-gray-2);
            margin: 2rem 0;
        }


        /* System Styles */

        .tiptap {
            height: 100%;

            &:focus {
                outline: none;
            }
        }

        ::-webkit-scrollbar {
            height: 14px;
            width: 14px;
        }

        ::-webkit-scrollbar-track {
            background-clip: padding-box;
            background-color: transparent;
            border: 4px solid transparent;
            border-radius: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: #0000;
            border: 4px solid rgba(0,0,0,0);
            border-radius: 8px;
        }

        :hover::-webkit-scrollbar-thumb {
            background-color: #0000001a;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #00000026;
        }

        ::-webkit-scrollbar-button {
            display: none;
            height: 0;
            width: 0;
        }

        ::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}
